{% extends "base.html" %}

{% block content %}
  <h2>{{ driver.username }}</h2>
  <p>{{ driver.first_name }} {{ driver.last_name }}</p>
  <p>License: {{ driver.license_number }}</p>

  <h3>Cars</h3>
  <table>
    <thead>
      <tr>
        <th>Model</th>
        <th>Manufacturer</th>
      </tr>
    </thead>
    <tbody>
      {% for car in driver.cars.all %}
        <tr>
          <td>{{ car.model }}</td>
          <td>{{ car.manufacturer.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}